body {
    background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwinjit.com%2Farticles%2Fimportance-of-accurate-predictions-in-machine-learning%2F&psig=AOvVaw25ukkOMSPICQdTMlXvk0YX&ust=1699738383222000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCJDc-YaxuoIDFQAAAAAdAAAAABAE');
    background-size: cover;
    background-repeat: no-repeat;
}
